@require jeet
@require nib
@require '../stylus_config/_colors'

.listItem {
  clearfix()

  border .1em solid $light-gray
  border-radius .5em
  padding 1em
  margin-bottom .5em
}

.content {
  col(3/4)
}

.actions {
  col(1/4)
  margin-top -.5em
}

.removeButtonContainer {
  margin-bottom .5em
  margin-right -1em
  text-align right
}

.completeStatus {
  color green
}

.incompleteStatus {
  color red
}
