@require nib
@require '../stylus_config/_colors'

.button {
  border .1em transparent solid
  border-radius .5em
  cursor pointer
  padding 1em
  text-align center
  transition background-color 300ms ease-out
  user-select none
}

.main {
  composes button
  background-color $purple
  color $white

  &:hover {
    background-color darken($purple, 30%)
  }
}

.outline {
  composes button
  border-color $purple
  color $purple

  &:hover {
    background-color rgba($purple, .2)
  }
}

.buttonIcon {
  margin-right .5em
}
